{% extends "base.html" %}
{% load static %}

{% block title %} Products homepage {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div id="title-container">
            <h1 id="title">Welcome to our shop {{ user.username }}</h1>
        </div>
        <a href="{% url 'product_list' %}?type=all" class="subtitle"><u>Browse complete list:</u></a>
        {% for item in products %}
            <div class="surround-card">
                <div class="card-body">
                    <img class="card-img" src="{% static item.image %}" onerror="this.onerror=null; this.src='{% static 'imgs/placeholder.jpg' %}'" alt="ERROR">
                    <div class="card-text">
                        <a class="card-title" href="{% url 'detail' item.pk %}">{{ item.name }}</a>
                        <p>{{ item.description }}</p>
                        {% if item.is_discount %}
                            <h4><s>Old price: {{ item.price }}€</s></h4>
                            <h4 class="text-danger">Discounted price: {{ item.discount_price }} €</h4>
                        {% else %}
                            <h4>Price: {{ item.price }} €</h4>
                        {% endif %}
                        <p>Currently {{ item.stock }} in stock</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </br>
        </br>
        <a href="{% url 'product_discounted' %}?type=discounted" class="subtitle"><u>Discounted items that we recommend:</u></a>
        {% for item in discounted_products %}
            <div class="surround-card">
                <div class="card-body">
                    <img class="card-img" src="{% static item.image %}" onerror="this.onerror=null; this.src='{% static 'imgs/placeholder.jpg' %}'" alt="ERROR">
                    <div class="card-text">
                        <a class="card-title" href="{% url 'detail' item.pk %}">{{ item.name }}</a>
                        <p>{{ item.description }}</p>
                        {% if item.is_discount %}
                            <h4><s>Old price: {{ item.price }}€</s></h4>
                            <h4 class="text-danger">Discounted price: {{ item.discount_price }} €</h4>
                        {% else %}
                            <h4>Price: {{ item.price }} €</h4>
                        {% endif %}
                        <p>Currently {{ item.stock }} in stock</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </br>
        </br>
        {% if most_sold.count > 0 %}
            <a href="{% url 'product_mostsold' %}?type=mostsold" class="subtitle"><u>Most sold items that we recommend:</u></a>
            {% for item in most_sold %}
                <div class="surround-card">
                    <div class="card-body">
                        <img class="card-img" src="{% static item.image %}" onerror="this.onerror=null; this.src='{% static 'imgs/placeholder.jpg' %}'" alt="ERROR">
                        <div class="card-text">
                            <a class="card-title" href="{% url 'detail' item.pk %}">{{ item.name }}</a>
                            <p>{{ item.description }}</p>
                            {% if item.is_discount %}
                                <h4><s>Old price: {{ item.price }}€</s></h4>
                                <h4 class="text-danger">Discounted price: {{ item.discount_price }} €</h4>
                            {% else %}
                                <h4>Price: {{ item.price }} €</h4>
                            {% endif %}
                            <p>Currently {{ item.stock }} in stock</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}