{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %} Search page {% endblock %}

{% block head %}
    <style>
        #border{
            padding: 15px;
        }
        #container{
            background-color: #d7d7d7;
            padding: 10px;
            border: 2px solid darkslategray;
            border-radius: 15px;
        }
        #title{
            text-align: center;
        }
        label{
            font-size: large;
            color: #3e50ab;
            font-weight: bold;
        }
        #btn-search{
            background-color: #3e50ab;
            color: white;
            border-radius: 5px;
            height: 40px;
            width: 150px;
            border: 2px solid #161c3b;
        }
        #btn-search:hover{
            background-color: #6f81de;
        }
        #btn-container{
            text-align: center;
        }
        h3{
            color: #161c3b;
            font-weight: bold;
        }
    </style>

{% endblock %}

{% block content %}
    <div id="border">
        <div id="container">
            <div id="title">
                <h3>Search page</h3>
            </div>

            <form method="post" action="{% url 'search' %}"> {% csrf_token %}
                {{ form|crispy }}
                <div id="btn-container">
                    <input type="submit" value="Search" id="btn-search">
                </div>
            </form>
        </div>
    </div>
{% endblock %}